$twitter-blue: #1da1f2

*
    margin: 0
    padding: 0
    box-sizing: border-box
    font: 400 1rem 'roboto', sans-serif
.active
    color: $twitter-blue
body
    color: #0f1419
    -webkit-font-smoothing: antialiased
    button
        cursor: pointer
    a
        color: inherit